
@font-face { font-family: Play-Regular; src: url('fonts/Play-Regular.TTF'); }

.ui-bar-a
{
    border-width: 0px;
    border-style: none;
}

.logo
{
    float:left;
}

#bannerContainer
{
  padding-bottom: 10px ;
}

#mainMenu
{
  display: block ;
  padding-top: 40px ;
  padding-bottom: 50px ;
}
#mypanelButton
{
  float:right !important; ;

}

#filters a
{
 color: grey ;
}
#filters a:hover
{
  color: #B8860B ;
}


#arrows
{
    float:right;
}

#text
{
    font-size: 16px ;
    font-family: Play-Regular, Source sans pro, sans-serif;
    line-height: 1.8em;
    font-weight: 300 ;

}

#menuText
{
    font-size: 18px ;
    font-family: sans-serif;
}


#socialButtons
{
  padding-top: 20px ;
}

#socialItem
{
  padding: 5px ;
  text-decoration: none;
}
#socialItem:hover
{
  color: #B8860B ;
}

#loading
{
    font-size: 20px ;
}


/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:100%;
    height:100%;
    position:absolute;
    top:30%; /* centers the loading animation vertically one the screen */

}

#bannerImage
{
  display:block;
  margin-left: auto;
  margin-right: auto;
}


#assetImages
{
  display:block;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width : 250px)
{
   #bannerImage
   {
     width: 230px;
     height: 53px;
   }
   #assetImage
   {
     width: 80px ;
     height: 80px ;
   }
}



@media (min-width : 300px)
{
   #bannerImage
   {
     width: 230px;
     height: 53px;
   }
   #assetImage
   {
     width: 85px ;
     height: 85px ;
   }
}
/* Common screen size for iPhone in portrait mode */
@media (min-width : 320px)
{
   #bannerImage
   {
     width: 250px;
     height: 57px;
   }
   #assetImage
   {
     width: 92px ;
     height: 92px ;
   }

}

/* Common screen size for Samsung Galaxy S6 in Portrait mode */
@media (min-width : 360px)
{
    #bannerImage
   {
     width: 290px;
     height: 68px;
   }
   #assetImage
   {
     width: 105px ;
     height: 105px ;
   }
}
/* Common screen size for Samsung Galaxy S6 in Portrait mode */
@media (min-width : 400px)
{
    #bannerImage
   {
     width: 290px;
     height: 68px;
   }
   #assetImage
   {
     width: 110px ;
     height: 110px ;
   }

}

/* Common screen size for iPhone in landscape mode */
@media (min-width : 430px)
{
     #bannerImage
   {
     width: 360px;
     height: 90px;
   }
   #assetImage
   {
     width: 120px ;
     height: 120px ;
   }
}



/* Common screen size for iPhone in landscape mode */
@media (min-width : 480px)
{
     #bannerImage
   {
     width: 380px;
     height: 90px;
   }
   #assetImage
   {
     width: 140px ;
     height: 140px ;
   }
}

/* Common screen size for iPhone 5S landscape mode */
@media (min-width : 568px)
{
     #bannerImage
   {
     width: 400px;
     height: 95px;
   }
   #assetImage
   {
     width: 160px ;
     height: 160px ;
   }
}

@media (min-width : 768px)
{
    #bannerImage
   {
     width: 450px;
     height: 106px;
   }
   #assetImage
   {
     width: 200px ;
     height: 200px ;
   }

}
@media (min-width : 1200px)
{
    #mainMenu
    {
      padding-bottom: 70px ;
    }
    #bannerImage
   {
     width: 450px;
     height: 106px;
   }
   #assetImage
   {
     width: 240px ;
     height: 240px ;
   }

}
